{{ openwrt_banner.content | b64decode }}
                                 ✰ (ε2)
                                / \
                               /   ✸ ⇨vega (α)⇦
                              /   ∕
                             /   ∕
                             | 𒍻
              (𝛿2)  ﮳〫⸐______٭゚   (ζ1)
                   /       ╱              ✰
                  /       /                (κ)
                 /       /
                /       /
               /       /
              /       /            ------------------------------------------
             /       /              {{ ansible_distribution_release }} ({{ ansible_distribution_version }})
            /       /              ------------------------------------------
Sulafat (γ) ✶⦦_࡞⸝―――✴︎〫 Sheliak (β)
              (m57)

Test: ⚬º°º˚ʘѳѺѻ۝۞࡞०॰࿃࿂ၜ៙
