{{ openwrt_banner.content | b64decode }}
                                 ✰ (ε2)
                                / \
                               /   ✸ ⇨vega (α)⇦
                              /   ╱
                             /   ╱
                             |  ╱
              (𝛿2)  ₀∘⸐______ʘ⠈  (ζ1,2)
                   /       ╱              ✰
                  /       /                (κ)
                 /       /
                /       /
               /       /
              /       /            ------------------------------------------
             /       /              {{ ansible_distribution_release }} ({{ ansible_distribution_version }})
            /       /              ------------------------------------------
Sulafat (γ) ✶_०⸝―――˚✶ Sheliak (β)
              (m57)
