# {{ ansible_managed }}
{% for key, value in item.value.items() %}
{%   if (key | string | length > 0) and (value | string | length > 0) %}
{%     if key is regex('^#') %}
{%       for comment_line in value.rstrip('\n').split('\n') %}
# {{ comment_line }}
{%       endfor %}
{%     else %}
{{ key }} = {{ value }}
{%     endif %}
{%   endif %}
{% endfor %}
