---
# opkg_edison: entry point for handlers
# This should fix any weird opkg cache bugs
# Use this if you're seeing 0 packages for a repo,
- name: Destroy opkg cache
  ansible.builtin.file:
    path: /var/lib/opkg
    force: true
    state: absent

- name: Create opkg cache dir
  ansible.builtin.file:
    path: /var/lib/opkg
    force: true
    state: directory
    mode: "0755"

- name: OPKG update
  ansible.builtin.command: opkg update
  check_mode: false
  register: opkg_makecache_result
  until: opkg_makecache_result is defined and opkg_makecache_result.rc == 0
  retries: 3
  delay: 1
  changed_when: opkg_makecache_result.rc == 0
