openwrt_soc_devicetree_pcie: "{{ (ansible_distribution == 'LEDE') | ternary('soc:pcie-controller', 'soc:pcie@82000000') }}"
openwrt_version_supports_band: "{{ ansible_distribution_version == 'snapshot' or ((ansible_distribution_version is regex('^\\d+(\\.\\d+(\\.\\d+)?)?')) and (ansible_distribution_version | string) is version(('21.2.2' | string), '>=')) }}"
openwrt_wireless_backupconfig: true

openwrt_wifi_interfacesgroup:
  openwrt:
    phy1_5g:
      device: radio1
      mode: ap
      network: lan
      ssid: "{{ lyraphase_vault_wireless.radio1.ssid | default('OpenWRT') }}"
      encryption: psk2
      key: "{{ lyraphase_vault_wireless.radio1.key }}"
      dtim_period: 3
    phy0_2g:
      device: radio0
      mode: ap
      network: lan
      ssid: "{{ lyraphase_vault_wireless.radio0.ssid | default('OpenWRT_5Ghz') }}"
      encryption: psk2
      key: "{{ lyraphase_vault_wireless.radio0.key }}"
      disassoc_low_ack: 0
      max_inactivity: 3600
      dtim_period: 3
