---
# This playbook bootstraps an OpenWRT LEDE router with base settings

- name: OpenWRT Base
  hosts: openwrt
  user: root
  gather_facts: "{{ not (ansible_bootstrap | default(false)) }}"
  vars_files:
    - "vars/openwrt-base.yml"

  pre_tasks:
    - name: Ansible setup
      ansible.builtin.include_vars: "{{ item }}"
      with_first_found:
        - "./inventory/os_vars/{{ ansible_distribution }}-{{ ansible_distribution_major_version | int }}.yml"
        - "./inventory/os_vars/{{ ansible_distribution }}.yml"
        - "./inventory/os_vars/{{ ansible_os_family }}.yml"
        - "./inventory/os_vars/OpenWrt.yml"
      when: not (ansible_bootstrap | default(false)) and
            ansible_distribution is defined and
            ansible_distribution_major_version is defined and
            ansible_os_family is defined
      tags:
        - opkg_packages
        - packages
        - install_packages
  roles:
    - openwrt-base
#    - openwrt-logrotate
    - role: imp1sh.ansible_managemynetwork.ansible_users
      tags:
        - ansible_users
        - users
    - role: imp1sh.ansible_managemynetwork.ansible_openwrtsystem
      tags:
        - ansible_openwrtsystem
        - system
    - role: imp1sh.ansible_managemynetwork.ansible_openwrtdropbear
      tags:
        - ansible_openwrtdropbear
        - sshkeys
    - role: imp1sh.ansible_managemynetwork.ansible_packages
      when: not (ansible_bootstrap | default(false))
      tags:
        - opkg_packages
        - packages
        - install_packages
    - role: imp1sh.ansible_managemynetwork.ansible_openwrtnetwork
      when: not (ansible_bootstrap | default(false))
      tags:
        - opkg_packages
        - packages
        - install_packages
  tasks:
    - name: Get original banner contents
      ansible.builtin.slurp:
        src: "/etc/banner"
      register: openwrt_banner
      tags:
        - openwrt_banner
    - name: Install SSH banner file
      ansible.builtin.template:
        src: templates/lyra-vega-banner.j2
        dest: "{{ openwrt_dropbear_bannerfile | default('/etc/config/lyra-vega-banner') }}"
        owner: root
        group: root
        mode: "0644"
      register: openwrt_custom_banner
      tags:
        - openwrt_banner
