---
# This playbook bootstraps an OpenWRT LEDE router with dumbap-base settings

- name: OpenWRT Dumb AP Base
  hosts: openwrt
  user: root
  gather_facts: false
  vars_files:
    - "vars/openwrt-dumbap-base.yml"

  roles:
    - openwrt-dumbap-base
#  tasks:
#    - name: Install Extra packages
#      opkg: >
#        name={{ item }}
#        state=installed
#      with_items:
#        - ethtool
#      tags:
#        - opkg_packages
#        - packages
#        - install_packages
